/* Remove responsive from container */
.container {
  width: 1170px;
  max-width: none !important;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.modal-body * {
 padding-left: 10px;
}

.pointer { cursor: pointer; }

.doc-link {
  margin-top: 8px;
  margin-bottom: 2px;
}
