<div class="modal-header">
  <h3 class="modal-title">Event Flags</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 NOT_REPEATABLE (Event can not repeat)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 DIFFICULTY_0 (Normal dungeon)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 DIFFICULTY_1 (Heroic dungeon)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 DIFFICULTY_2 (Normal raid)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 DIFFICULTY_3 (Heroic raid)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 RESERVED_5 (not used)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 RESERVED_6 (not used)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 DEBUG_ONLY (only used in debug build)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 DONT_RESET (Event will not reset)</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
