<small class="selection-text"><strong>{{ selectionText }}</strong></small>
<tabset>
  <tab id="tab-search" heading="Search" active="characterTabs.search">
	<div ng-include="'partials/character/search.html'"></div>
  </tab>
  <tab heading="Character" active="characterTabs.character">
	<div ng-include="'partials/character/character.html'"></div>
  </tab>
  <tab heading="Update SQL Script" active="characterTabs.script" ng-click="generateCharacterScript()">
	<div ng-include="'partials/character/sql-script.html'"></div>
  </tab>
</tabset>
