<tabset>
  <tab id="tab-search" heading="Search">
    <div ng-include="'partials/Creature/search.html'"></div>
  </tab>
  <tab id="tab-creature_template" heading="Creature Template">
    <div ng-include="'partials/Creature/template.html'"></div>
  </tab>
  <tab id="tab-creature_location" heading="Creature Location">
    Creature Location
  </tab>
  <tab id="tab-model_info" heading="Model Info">
    Model Info
  </tab>
  <tab id="tab-equip_template" heading="Equip Template">
    Equip Template
  </tab>
  <tab id="tab-creature_loot" heading="Creature Loot">
    Creature Loot
  </tab>
  <tab id="tab-creature_pickpocketloot" heading="Pickpocket Loot">
    Pickpocket Loot
  </tab>
  <tab id="tab-creature_skinloot" heading="Skin Loot">
    Skin Loot
  </tab>
  <tab id="tab-creature_template_addon" heading="Creature Template Addon">
    Creature Template Addon
  </tab>
  <tab id="tab-npc_gossip" heading="NPC Gossip">
    NPC Gossip
  </tab>
  <tab id="tab-on_kill_reputation" heading="On Kill Reputation">
    On Kill Reputation
  </tab>
  <tab id="tab-involved_in" heading="Involved In">
    Involved In
  </tab>
  <tab id="tab-locales_npc_text" heading="Locales NPC Text">
    Locales NPC Text
  </tab>
  <tab id="tab-creature_movement" heading="Creature Movement">
    Creature Movement
  </tab>
  <tab id="tab-creature_addon" heading="Creature Addon">
    Creature Addon
  </tab>
</tabset>
