<tabset>
  <tab heading="Search" active="gameobjectTabs.search">
    <div ng-include="'partials/gameobject/search.html'"></div>
  </tab>
  <tab heading="GO Template" active="gameobejctTabs.template">
    <div ng-include="'partials/gameobject/template.html'"></div>
  </tab>
  <tab heading="GO Spawns" active="gameobejctTabs.spawns">
    GO Spawns
  </tab>
  <tab heading="GO Loot" active="gameobejctTabs.loot">
    GO Loot
  </tab>
  <tab heading="SQL Update Script" active="gameobejctTabs.script">
    SQL Update Script
  </tab>
</tabset>
