<tabset>
  <tab id="tab-search" heading="Search">
    <div class="row">
      <br>
      <div class="col-xs-2">
        Entry
        <input class="form-control" id="entry" type="text" placeholder="Gameobject Entry" ng-model="gameobject_template.entry">
      </div>
      <div class="col-xs-3">
        Name
        <input class="form-control" id="name" type="text" placeholder="Name" ng-model="gameobject_template.name">
      </div>
      <div class="col-xs-1">
        <br>
        <button class="btn-primary btn-sm" ng-click="search(gameobject_template.entry, gameobject_template.name)">Search</button>
      </div>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">Entry</th>
        <th class="text-center">Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="gameobject in gameobjects">
          <td><a ng-href="./#/gameobject/{{ gameobject.entry }}">{{ gameobject.entry }}</a></td>
          <td><a ng-href="./#/gameobject/{{ gameobject.entry }}">{{ gameobject.name }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab id="tab-gameobject_template" heading="GO Template">
    GO Template
  </tab>
  <tab id="tab-gameobject_location" heading="GO Location">
    GO Location
  </tab>
  <tab id="tab-gameobject_loot_template" heading="GO Loot">
    GO Loot
  </tab>
  <tab id="tab-gameobject_script" heading="GO Script">
    GO Script
  </tab>
  <tab id="tab-involved_in" heading="Involved In">
    Involved In
  </tab>
</tabset>
