<br>
<tabset>
  <tab heading="Search" active="itemTabs.search">
    <div ng-include="'partials/item/search.html'"></div>
  </tab>
  <tab heading="Item" active="itemTabs.template">
    Template
  </tab>
  <tab heading="Item Loot" active="itemTabs.item_loot">
    Item Loot
  </tab>
  <tab heading="Disenchant Loot" active="itemTabs.disenchant_loot">
    Disenchant Loot
  </tab>
  <tab heading="Prospecting Loot" active="itemTabs.prospecting_loot">
    Prospecting Loot
  </tab>
  <tab heading="Milling Loot" active="itemTabs.milling_loot">
    Milling Loot
  </tab>
  <tab heading="Reference Loot" active="itemTabs.reference_loot">
    Reference Loot
  </tab>
  <tab heading="Enchantment" active="itemTabs.enchantment">
    Enchantment
  </tab>
  <tab heading="Looted From" active="itemTabs.script">
    Looted From
  </tab>
  <tab heading="SQL Update Script" active="itemTabs.item_loot">
    SQL Update Script
  </tab>
</tabset>
