<p class="h2">TODO</p>

<tabset>
  <tab id="tab-search" heading="Search">
    <div ng-include="'partials/item/search.html'"></div>
  </tab>
  <tab id="tab-item_template" heading="Item Template">
    Item Template
  </tab>
  <tab id="tab-item_loot" heading="Item Loot">
    Item Loot
  </tab>
  <tab id="tab-item_disenchant_loot" heading="Disenchant Loot">
    Disenchant Loot
  </tab>
  <tab id="tab-item_prospecting_loot" heading="Prospecting Loot">
    Prospecting Loot
  </tab>
  <tab id="tab-item_milling_loot" heading="Milling Loot">
    Milling Loot
  </tab>
  <tab id="tab-item_reference_loot" heading="Reference Loot">
    Reference Loot
  </tab>
  <tab id="tab-item_enchantment" heading="Enchantment">
    Enchantment
  </tab>
  <tab id="tab-looted_from" heading="Loted From">
    Loted From
  </tab>
  <tab id="tab-involved_in" heading="Involved In">
    Involved In
  </tab>
  <tab id="tab-item_script" heading="Script">
    Script
  </tab>
</tabset>
