<tabset>
  <tab heading="Search" active="questTabs.search">
    <div ng-include="'partials/quest/search.html'"></div>
  </tab>
  <tab heading="Quest Part 1" active="questTabs.part1">
    <div ng-include="'partials/quest/part1.html'"></div>
  </tab>
  <tab heading="Quest Part 2" active="questTabs.part2">
    <div ng-include="'partials/quest/part2.html'"></div>
  </tab>
  <tab heading="Quest Givers" active="questTabs.givers">
    <div ng-include="'partials/quest/givers.html'"></div>
  </tab>
  <tab heading="Quest Takers" active="questTabs.takers">
    <div ng-include="'partials/quest/takers.html'"></div>
  </tab>
  <tab heading="SQL Update Script" active="questTabs.script">
    <div ng-include="'partials/quest/quest-sql-script.html'"></div>
  </tab>
</tabset>
