<tabset>
  <tab id="tab-search" heading="Search">
    <div class="row">
      <br>
      <div class="col-xs-2">
        Quest ID
        <input class="form-control" id="questid" type="text" placeholder="Quest ID" ng-model="quest_template.id">
      </div>
      <div class="col-xs-3">
        Title
        <input class="form-control" id="title" type="text" placeholder="Title" ng-model="quest_template.title">
      </div>
      <div class="col-xs-1">
        <br>
        <button class="btn-primary btn-sm" ng-click="search(quest_template.id, quest_template.title)">Search</button>
      </div>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">ID</th>
        <th class="text-center">Title</th>
        <th class="text-center">Details</th>
      </thead>
      <tbody>
        <tr ng-repeat="quest in quests">
          <td><a ng-href="./#/quest/{{ quest.Id }}">{{ quest.Id }}</a></td>
          <td><a ng-href="./#/quest/{{ quest.Id }}">{{ quest.Title }}</a></td>
          <td>{{ quest.Details | limitTo: 100 }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab id="tab-questpart1" heading="Quest Part 1">
    <br>
    <div class="row">
      <div class="col-xs-1">
        <small>Id</small>
        <div class="input-group">
          <input class="form-control input-sm" placeholder="ID" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
        <small>ExclusiveGroup</small>
        <input type="text" class="form-control input-xs">
        <small>NextQuestIdChain</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="ChainID" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
      </div>
      <div class="col-xs-1">
        <small>PrevQuestId</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="PrevID" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
        <small>NextQuestId</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="NextID" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
        <small>RewardXPId</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3"></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"></div>
      <div class="col-xs-1"></div>
    </div>
  </tab>
  <tab id="tab-questpart2" heading="Quest Part 2">
    Quest Part 2
  </tab>
  <tab id="tab-questgivers" heading="Quest Givers">
    Quest Givers
  </tab>
  <tab id="tab-questtakers" heading="Quest Takers">
    Quest Takers
  </tab>
  <tab id="tab-startscript" heading="Start Script">
    Start Script
  </tab>
  <tab id="tab-completescript" heading="Complete Script">
    Complete Script
  </tab>
  <tab id="tab-localesquest" heading="Locales Quest">
    Locales Quest
  </tab>
</tabset>
