<small class="selection-text"><strong>{{ selectionText }}</strong></small>
<uib-tabset>
  <uib-tab  id="tab-search" heading="Search existing scripts" active="saiTabs.search">
	<div ng-include="'partials/sai/search.html'"></div>
  </uib-tab>
  <uib-tab  heading="Search by entity" active="saiTabs.create" ng-controller="SearchByEntitySAIController">
	<div ng-include="'partials/sai/search-by-entity.html'"></div>
  </uib-tab>
  <uib-tab  heading="SmartAI Editor" active="saiTabs.editor" ng-controller="SmartAIEditorController">
	<div ng-include="'partials/sai/editor.html'"></div>
  </uib-tab>
  <uib-tab  heading="SQL Script" ng-click="generateSAIScript()" active="saiTabs.script">
	<div ng-include="'partials/sai/sql-script.html'"></div>
  </uib-tab>
</uib-tabset>
