(function () {
  var app = angular.module('keira2');

  /* Edit with path of TC-JSON-API */
  app.api = "../TC-JSON-API/public/index.php/";
  
  /* Edit the default version of Keira2 */
  app.defaultVersion = "6.x";

})();
