<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}quest_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>quest_template</a></p>

<div class="row">
  <div class="col-xs-6">
    <h5>Requirements to finish quest</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>RequiredItemId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId1">
        </div>
        <small>RequiredItemId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId2">
        </div>
        <small>RequiredItemId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId3">
        </div>
        <small>RequiredItemId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId4">
        </div>
        <small>RequiredItemId5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId5">
        </div>
        <small>RequiredItemId6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemId6">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount1">
        </div>
        <small>RequiredItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount2">
        </div>
        <small>RequiredItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount3">
        </div>
        <small>RequiredItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount4">
        </div>
        <small>RequiredItemCount5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount5">
        </div>
        <small>RequiredItemCount6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredItemCount6">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredSourceItemId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemId1">
        </div>
        <small>RequiredSourceItemId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemId2">
        </div>
        <small>RequiredSourceItemId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemId3">
        </div>
        <small>RequiredSourceItemId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemId4">
        </div>
        <small>RequiredPlayerKills</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredPlayerKills">
        </div>
      </div>
      <div class="col-xs-3">
        <small>ReqSourceItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemCount1">
        </div>
        <small>ReqSourceItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemCount2">
        </div>
        <small>ReqSourceItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemCount3">
        </div>
        <small>ReqSourceItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredSourceItemCount4">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 12px">
      <div class="col-xs-3">
        <small>RequiredNpcOrGo1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGo1">
        </div>
        <small>RequiredNpcOrGo2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGo2">
        </div>
        <small>RequiredNpcOrGo3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGo3">
        </div>
        <small>RequiredNpcOrGo4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGo4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>ReqNpcOrGoCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGoCount1">
        </div>
        <small>ReqNpcOrGoCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGoCount2">
        </div>
        <small>ReqNpcOrGoCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGoCount3">
        </div>
        <small>ReqNpcOrGoCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredNpcOrGoCount4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredFactionId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredFactionId1">
        </div>
        <small>RequiredFactionId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredFactionId2">
        </div>
        <small>ReqFactionValue1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredFactionValue1">
        </div>
        <small>ReqFactionValue2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RequiredFactionValue2">
        </div>
      </div>
    </div>
    <br>
    <h5>Emotions</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>PointMapId</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.PointMapId">
        </div>
      </div>
      <div class="col-xs-3">
        <small>PointX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.PointX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>PointY</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.PointY">
        </div>
      </div>
      <div class="col-xs-3">
        <small>PointOption</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.PointOption">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <small>DetailsEmote1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmote1">
        </div>
        <small>DetailsEmote2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmote2">
        </div>
        <small>DetailsEmote3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmote3">
        </div>
        <small>DetailsEmote4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmote4">
        </div>
        <small>EmoteOnComplete</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.EmoteOnComplete">
        </div>
      </div>
      <div class="col-xs-3">
        <small>DetailsEmoteDelay1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmoteDelay1">
        </div>
        <small>DetailsEmoteDelay2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmoteDelay2">
        </div>
        <small>DetailsEmoteDelay3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmoteDelay3">
        </div>
        <small>DetailsEmoteDelay4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.DetailsEmoteDelay4">
        </div>
        <small>EmoteOnIncomplete</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.EmoteOnIncomplete">
        </div>
      </div>
      <div class="col-xs-3">
        <small>OfferRewardEmote1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmote1">
        </div>
        <small>OfferRewardEmote2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmote2">
        </div>
        <small>OfferRewardEmote3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmote3">
        </div>
        <small>OfferRewardEmote4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmote4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>OfferRewEmDelay1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmoteDelay1">
        </div>
        <small>OfferRewEmDelay2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmoteDelay2">
        </div>
        <small>OfferRewEmDelay3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmoteDelay3">
        </div>
        <small>OfferRewEmDelay4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.OfferRewardEmoteDelay4">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h5>Quest Rewards</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>RewardChoiceItem1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId1">
        </div>
        <small>RewardChoiceItem2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId2">
        </div>
        <small>RewardChoiceItem3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId3">
        </div>
        <small>RewardChoiceItem4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId4">
        </div>
        <small>RewardChoiceItem5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId5">
        </div>
        <small>RewardChoiceItem6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemId6">
        </div>
        <small>RewMailTemplateId</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardMailTemplateId">
        </div>
        <small>RewardArenaPoints</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardArenaPoints">
        </div>
        <small>RewardFactionId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionId1">
        </div>
        <small>RewardFactionId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionId2">
        </div>
        <small>RewardFactionId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionId3">
        </div>
        <small>RewardFactionId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionId4">
        </div>
        <small>RewardFactionId5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionId5">
        </div>
      </div>
      <div class="col-xs-3">
        <small>ChoiceItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount1">
        </div>
        <small>ChoiceItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount2">
        </div>
        <small>ChoiceItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount3">
        </div>
        <small>ChoiceItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount4">
        </div>
        <small>ChoiceItemCount5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount5">
        </div>
        <small>ChoiceItemCount6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardChoiceItemCount6">
        </div>
        <small>RewardMailDelay</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardMailDelay">
        </div>
        <small>RewardHonor</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardHonor">
        </div>
        <small>FactionValue1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueId1">
        </div>
        <small>FactionValue2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueId2">
        </div>
        <small>FactionValue3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueId3">
        </div>
        <small>FactionValue4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueId4">
        </div>
        <small>FactionValue5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueId5">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RewardItemId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemId1">
        </div>
        <small>RewardItemId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemId2">
        </div>
        <small>RewardItemId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemId3">
        </div>
        <small>RewardItemId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemId4">
        </div>
        <small>RewOrReqMoney</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardOrRequiredMoney">
        </div>
        <small>RewMoneyMaxLevel</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardMoneyMaxLevel">
        </div>
        <small>RewardHonorMultiplier</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardHonorMultiplier">
        </div>
        <small>RewardTalents</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardTalents">
        </div>
        <small>RewardFactionValueIdOverride1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueIdOverride1">
        </div>
        <small>RewardFactionValueIdOverride2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueIdOverride2">
        </div>
        <small>RewardFactionValueIdOverride3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueIdOverride3">
        </div>
        <small>RewardFactionValueIdOverride4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueIdOverride4">
        </div>
        <small>RewardFactionValueIdOverride5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardFactionValueIdOverride5">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RewardItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemCount1">
        </div>
        <small>RewardItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemCount2">
        </div>
        <small>RewardItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemCount3">
        </div>
        <small>RewardItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardItemCount4">
        </div>
        <small>RewardSpell</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardSpell">
        </div>
        <small>RewardSpellCast</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardSpellCast">
        </div>
        <small>RewardTitleId</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.RewardTitleId">
        </div>
      </div>
    </div>
    <h5 style="margin-top: 18px; margin-bottom: 2px;">Other</h5>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-3">
        <small>SpecialFlags</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.SpecialFlags">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openFlagModal('', 'partials/quest/modals/special-flags.html', new_quest_template, 'SpecialFlags', 6)">...</button>
          </div>
        </div>
        <small>Method</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.Method">
        </div>
      </div>
      <div class="col-xs-3">
        <small>SuggestedPlayers</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.SuggestedPlayers">
        </div>
        <small>Unknown0</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.Unknown0">
        </div>
      </div>
      <div class="col-xs-3">
        <small>VerifiedBuild</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_quest_template.VerifiedBuild">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
    <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
  <div class="col-xs-2 pull-right">
    <button class="btn btn-primary" ng-click="openFullScriptModal(new_quest_template, 'quest_template', 'Id')">FULL SQL Script</button>
  </div>
</div>
<br>
