<br>
<div class="row">
  <div class="col-xs-1">
    <small>Id</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="ID" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
    <small>ExclusiveGroup</small>
    <input type="text" class="form-control input-xs">
    <small>NextQuestIdChain</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="ChainID" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
  </div>
  <div class="col-xs-1">
    <small>PrevQuestId</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="PrevID" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
    <small>NextQuestId</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="NextID" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
    <small>RewardXPId</small>
    <input type="text" class="form-control input-xs">
  </div>
  <div class="col-xs-2">
    <small>ZoneID</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="ZoneID" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
    <small>RequiredSkill</small>
    <div class="input-group">
      <input class="form-control input-xs" placeholder="RequiredSkill" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default btn-xs">→</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>Minlevel</small>
        <input type="number" class="form-control input-xs">
      </div>
      <div class="col-xs-4">
        <small>Maxlevel</small>
        <input type="number" class="form-control input-xs">
      </div>
      <div class="col-xs-4">
        <small>Level</small>
        <input type="number" class="form-control input-xs">
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-4"></div>
  <div class="col-xs-1"></div>
</div>
