<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}quest_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>quest_template</a></p>

<div class="row">
  <div class="col-xs-6">
    <h5>Requirements to finish quest</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>RequiredItemId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId1" ng-model="new_quest_template.RequiredItemId1">
        </div>
        <small>RequiredItemId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId2" ng-model="new_quest_template.RequiredItemId2">
        </div>
        <small>RequiredItemId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId3" ng-model="new_quest_template.RequiredItemId3">
        </div>
        <small>RequiredItemId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId4" ng-model="new_quest_template.RequiredItemId4">
        </div>
        <small>RequiredItemId5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId5" ng-model="new_quest_template.RequiredItemId5">
        </div>
        <small>RequiredItemId6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemId6" ng-model="new_quest_template.RequiredItemId6">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount1" ng-model="new_quest_template.RequiredItemCount1">
        </div>
        <small>RequiredItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount2" ng-model="new_quest_template.RequiredItemCount2">
        </div>
        <small>RequiredItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount3" ng-model="new_quest_template.RequiredItemCount3">
        </div>
        <small>RequiredItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount4" ng-model="new_quest_template.RequiredItemCount4">
        </div>
        <small>RequiredItemCount5</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount5" ng-model="new_quest_template.RequiredItemCount5">
        </div>
        <small>RequiredItemCount6</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredItemCount6" ng-model="new_quest_template.RequiredItemCount6">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredSourceItemId1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemId1" ng-model="new_quest_template.RequiredSourceItemId1">
        </div>
        <small>RequiredSourceItemId2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemId2" ng-model="new_quest_template.RequiredSourceItemId2">
        </div>
        <small>RequiredSourceItemId3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemId3" ng-model="new_quest_template.RequiredSourceItemId3">
        </div>
        <small>RequiredSourceItemId4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemId4" ng-model="new_quest_template.RequiredSourceItemId4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>ReqSourceItemCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemCount1" ng-model="new_quest_template.RequiredSourceItemCount1">
        </div>
        <small>ReqSourceItemCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemCount2" ng-model="new_quest_template.RequiredSourceItemCount2">
        </div>
        <small>ReqSourceItemCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemCount3" ng-model="new_quest_template.RequiredSourceItemCount3">
        </div>
        <small>ReqSourceItemCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSourceItemCount4" ng-model="new_quest_template.RequiredSourceItemCount4">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 12px">
      <div class="col-xs-3">
        <small>RequiredNpcOrGo1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredNpcOrGo1" ng-model="new_quest_template.RequiredNpcOrGo1">
        </div>
        <small>RequiredNpcOrGo2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredNpcOrGo2" ng-model="new_quest_template.RequiredNpcOrGo2">
        </div>
        <small>RequiredNpcOrGo3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredNpcOrGo3" ng-model="new_quest_template.RequiredNpcOrGo3">
        </div>
        <small>RequiredNpcOrGo4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredNpcOrGo4" ng-model="new_quest_template.RequiredNpcOrGo4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>ReqNpcOrGoCount1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.ReqNpcOrGoCount1" ng-model="new_quest_template.ReqNpcOrGoCount1">
        </div>
        <small>ReqNpcOrGoCount2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.ReqNpcOrGoCount2" ng-model="new_quest_template.ReqNpcOrGoCount2">
        </div>
        <small>ReqNpcOrGoCount3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.ReqNpcOrGoCount3" ng-model="new_quest_template.ReqNpcOrGoCount3">
        </div>
        <small>ReqNpcOrGoCount4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.ReqNpcOrGoCount4" ng-model="new_quest_template.ReqNpcOrGoCount4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>RequiredSpellCast1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSpellCast1" ng-model="new_quest_template.RequiredSpellCast1">
        </div>
        <small>RequiredSpellCast2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSpellCast2" ng-model="new_quest_template.RequiredSpellCast2">
        </div>
        <small>RequiredSpellCast3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSpellCast3" ng-model="new_quest_template.RequiredSpellCast3">
        </div>
        <small>RequiredSpellCast4</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.RequiredSpellCast4" ng-model="new_quest_template.RequiredSpellCast4">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
    </div>
    <br>
    <h5>Emotions</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h5>Quest Rewards</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
    </div>
    <h5 style="margin-top: 18px; margin-bottom: 2px;">Other</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
      <div class="col-xs-3">
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
        <small>XXX</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-value="current_quest_template.XXX" ng-model="new_quest_template.XXX">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
    <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
  <div class="col-xs-2 pull-right">
    <button class="btn btn-primary" ng-click="openFullScriptModal(new_quest_template, 'quest_template', 'Id')">FULL SQL Script</button>
  </div>
</div>
<br>
