<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}loot_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>creature_loot_template</a></p>
<div class="row">
  <input type="hidden" ng-model="itemLoot.id">
  <div class="col-xs-1 text-left">
    <small>Item</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.Item">
  </div>
  <div class="col-xs-1 text-left">
    <small>Chance</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.Chance">
  </div>
  <div class="col-xs-1 text-left">
    <small>QuestReq.</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.QuestRequired">
  </div>
  <div class="col-xs-1 text-left">
    <small>GroupId</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.GroupId">
  </div>
  <div class="col-xs-1 text-left">
    <small>Reference</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.Reference">
  </div>
  <div class="col-xs-1 text-left">
    <small>MinCount</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.MinCount">
  </div>
  <div class="col-xs-1 text-left">
    <small>MaxCount</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.MaxCount">
  </div>
  <div class="col-xs-1 text-left">
    <small>LootMode</small>
    <input class="form-control input-xs" type="text" ng-model="itemLoot.LootMode">
  </div>

  <div class="col-xs-4">
    <br>
    <button class="btn btn-primary" ng-click="editItem_loot(itemLoot.id, itemLoot, new_creature_loot_template)"><i class="glyphicon glyphicon-refresh"></i> Edit</button>
    <button class="btn btn-danger" ng-click="deleteItem_loot(itemLoot.id, new_creature_loot_template)"><i class="glyphicon glyphicon-remove"></i> Delete</button>
    <button class="btn btn-success" ng-click="addItem_loot(itemLoot.id, itemLoot, new_creature_loot_template)"><i class="glyphicon glyphicon-plus"></i> Add new</button>
  </div>

  <button class="btn btn-info" ng-click="openFullScriptModal(new_creature_loot_template, 'creature_loot_template', 'Entry')">FULL Creature Loot Script</button>
  <div class="col-xs-12">
    <br>
    <table class="table table-striped table-condensed">
      <tr>
        <td></td>
        <td>Entry</td>
        <td>Item</td>
        <td>Chance</td>
        <td>QuestRequired</td>
        <td>GroupId</td>
        <td>Reference</td>
        <td>MinCount</td>
        <td>MaxCount</td>
        <td>LootMode</td>
      </tr>
      <tr ng-repeat="loot in new_creature_loot_template track by $index" id="{{ $index }}">
        <td><i ng-click="selectRow($event, itemLoot, new_creature_loot_template)" class="glyphicon glyphicon-edit pointer"></i></td>
        <td>{{ loot.Entry }}</td>
        <td>{{ loot.Item }}</td>
        <td>{{ loot.Chance }}</td>
        <td>{{ loot.QuestRequired }}</td>
        <td>{{ loot.GroupId }}</td>
        <td>{{ loot.Reference }}</td>
        <td>{{ loot.MinCount }}</td>
        <td>{{ loot.MaxCount }}</td>
        <td>{{ loot.LootMode }}</td>
      </tr>
    </table>


  </div>
</div>
