<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}creature_equip_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>creature_equip_template</a></p>
<div class="row">
  <div class="col-xs-2">
	<small>CreatureID</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.CreatureID">
	</div>
  </div>
  <div class="col-xs-2">
	<small>ID</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.ID">
	</div>
  </div>
  <div class="col-xs-2">
	<small>ItemID1</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.ItemID1">
	  <div class="input-group-btn">
		<button class="btn btn-info input-xs" ng-click="openSearchModal(new_creature_equip_template, 'ItemID1', 'item')">...</button>
	  </div>
	</div>
  </div>
  <div class="col-xs-2">
	<small>ItemID2</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.ItemID2">
	  <div class="input-group-btn">
		<button class="btn btn-info input-xs" ng-click="openSearchModal(new_creature_equip_template, 'ItemID2', 'item')">...</button>
	  </div>
	</div>
  </div>
  <div class="col-xs-2">
	<small>ItemID3</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.ItemID3">
	  <div class="input-group-btn">
		<button class="btn btn-info input-xs" ng-click="openSearchModal(new_creature_equip_template, 'ItemID3', 'item')">...</button>
	  </div>
	</div>
  </div>
  <div class="col-xs-2">
	<small>VerifiedBuild</small>
	<div class="input-group">
	  <input class="form-control input-xs" type="text" ng-model="new_creature_equip_template.VerifiedBuild">
	</div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
	<button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
  <div class="col-xs-2 pull-right">
	<button class="btn btn-primary" ng-click="openFullScriptModal(new_creature_equip_template, 'creature_equip_template', 'CreatureID')">FULL SQL Script</button>
  </div>
</div>
