<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}creature_onkill_reputation"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>creature_onkill_reputation</a></p>
<div class="row">
  <div class="col-xs-2">
    <small>creature_id (entry)</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.creature_id" ng-model="new_creature_onkill_reputation.creature_id">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <small>RewOnKillRepFaction1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.RewOnKillRepFaction1" ng-model="new_creature_onkill_reputation.RewOnKillRepFaction1">
    </div>
  </div>
  <div class="col-xs-2">
    <small>RewOnKillRepValue1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.RewOnKillRepValue1" ng-model="new_creature_onkill_reputation.RewOnKillRepValue1">
    </div>
  </div>
  <div class="col-xs-2">
    <small>MaxStanding1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.MaxStanding1" ng-model="new_creature_onkill_reputation.MaxStanding1">
    </div>
  </div>
  <div class="col-xs-2">
    <small>IsTeamAward1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.IsTeamAward1" ng-model="new_creature_onkill_reputation.IsTeamAward1">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <small>RewOnKillRepFaction2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.RewOnKillRepFaction2" ng-model="new_creature_onkill_reputation.RewOnKillRepFaction2">
    </div>
  </div>
  <div class="col-xs-2">
    <small>RewOnKillRepValue2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.RewOnKillRepValue2" ng-model="new_creature_onkill_reputation.RewOnKillRepValue2">
    </div>
  </div>
  <div class="col-xs-2">
    <small>MaxStanding2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.MaxStanding2" ng-model="new_creature_onkill_reputation.MaxStanding2">
    </div>
  </div>
  <div class="col-xs-2">
    <small>IsTeamAward2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.IsTeamAward2" ng-model="new_creature_onkill_reputation.IsTeamAward2">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <small>TeamDependent</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_onkill_reputation.TeamDependent" ng-model="new_creature_onkill_reputation.TeamDependent">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 pull-right">
    <button class="btn btn-success" ng-click="openScriptTab()">SQL Script</button>
  </div>
</div>
