<br>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="Entry" type="text" value="{{ current_creature_template.entry }}" ng-model="new_creature_template.entry">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ current_creature_template.entry }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ current_creature_template.difficulty_entry_1 }}" ng-model="new_creature_template.difficulty_entry_1">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ current_creature_template.difficulty_entry_1 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ current_creature_template.difficulty_entry_2 }}" ng-model="new_creature_template.difficulty_entry_2">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ current_creature_template.difficulty_entry_2 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ current_creature_template.difficulty_entry_3 }}" ng-model="new_creature_template.difficulty_entry_3">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ current_creature_template.difficulty_entry_3 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit1</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.KillCredit1 }}" ng-model="new_creature_template.KillCredit1">
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit2</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.KillCredit2 }}" ng-model="new_creature_template.KillCredit2">
      </div>
      <div class="col-xs-12 text-left">
        <small>Name</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.name }}" ng-model="new_creature_template.name">
      </div>
      <div class="col-xs-6 text-left">
        <small>subname</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.subname }}" ng-model="new_creature_template.subname">
      </div>
      <div class="col-xs-6 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.IconName }}" ng-model="new_creature_template.IconName">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid1</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.modelid1 }}" ng-model="new_creature_template.modelid1">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid2</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.modelid2 }}" ng-model="new_creature_template.modelid2">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid3</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.modelid3 }}" ng-model="new_creature_template.modelid3">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid4</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.modelid4 }}" ng-model="new_creature_template.modelid4">
      </div>
      <div class="col-xs-3 text-left">
        <small>mingold</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.mingold }}" ng-model="new_creature_template.mingold">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxgold</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.maxgold }}" ng-model="new_creature_template.maxgold">
      </div>
      <div class="col-xs-3 text-left">
        <small>minlevel</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.minlevel }}" ng-model="new_creature_template.minlevel">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxlevel</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.maxlevel }}" ng-model="new_creature_template.maxlevel">
      </div>
      <div class="col-xs-3 text-left">
        <small>Health_mod</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.HealthModifier }}" ng-model="new_creature_template.HealthModifier">
      </div>
      <div class="col-xs-3 text-left">
        <small>Mana_mod</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.ManaModifier }}" ng-model="new_creature_template.ManaModifier">
      </div>
      <div class="col-xs-3 text-left">
        <small>Vehicleid</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.Vehicleid }}" ng-model="new_creature_template.Vehicleid">
      </div>
      <div class="col-xs-3 text-left">
        <small>exp</small>
        <input type="text" class="form-control input-xs" value="{{ current_creature_template.exp }}" ng-model="new_creature_template.exp">
      </div>
    </div>
  </div>
  <div class="col-xs-8">
  </div>
</div>
