<br>
<div class="row">
  <div class="col-xs-2">
    <small>Entry</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.entry" ng-model="new_creature_template_addon.entry">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <small>path_id</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.path_id" ng-model="new_creature_template_addon.path_id">
    </div>
  </div>
  <div class="col-xs-2">
    <small>mount</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.mount" ng-model="new_creature_template_addon.mount">
    </div>
  </div>
  <div class="col-xs-2">
    <small>bytes1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.bytes1" ng-model="new_creature_template_addon.bytes1">
    </div>
  </div>
  <div class="col-xs-2">
    <small>bytes2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.bytes2" ng-model="new_creature_template_addon.bytes2">
    </div>
  </div>
  <div class="col-xs-2">
    <small>emote</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.emote" ng-model="new_creature_template_addon.emote">
    </div>
  </div>
  <div class="col-xs-2">
    <small>auras</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text" ng-value="current_creature_template_addon.auras" ng-model="new_creature_template_addon.auras">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
    <button class="btn btn-success" ng-click="openScriptTab()">SQL Script</button>
  </div>
</div>
