<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}creature_addon"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>creature_template_addon</a></p>
<div class="row">
  <div class="col-xs-2">
    <small>entry</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.entry">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <small>path_id</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.path_id">
    </div>
  </div>
  <div class="col-xs-2">
    <small>mount</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.mount">
    </div>
  </div>
  <div class="col-xs-2">
    <small>bytes1</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.bytes1">
    </div>
  </div>
  <div class="col-xs-2">
    <small>bytes2</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.bytes2">
    </div>
  </div>
  <div class="col-xs-2">
    <small>emote</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.emote">
      <div class="input-group-btn">
        <button class="btn btn-info input-xs" ng-click="openValueModal('', 'partials/creature/modals/emote.html', new_creature_template_addon, 'emote')">...</button>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <small>auras</small>
    <div class="input-group">
      <input class="form-control input-xs" type="text"  ng-model="new_creature_template_addon.auras">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
    <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
  <div class="col-xs-2 pull-right">
    <button class="btn btn-primary" ng-click="openFullScriptModal(new_creature_template_addon, 'creature_template_addon', 'entry')">FULL SQL Script</button>
  </div>
</div>
