<br>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="Entry" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default btn-xs">→</button>
          </div>
        </div>
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit1</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit2</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-12 text-left">
        <small>Name</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-6 text-left">
        <small>subname</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-6 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid1</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid2</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid3</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid4</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>mingold</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxgold</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>minlevel</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxlevel</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>Health_mod</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>Mana_mod</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>Vehicleid</small>
        <input type="text" class="form-control input-xs">
      </div>
      <div class="col-xs-3 text-left">
        <small>exp</small>
        <input type="text" class="form-control input-xs">
      </div>
    </div>
  </div>
  <div class="col-xs-8">
  </div>
</div>
