<br>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" placeholder="Entry" type="text" value="{{ npc.entry }}" ng-model="entry">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ entry }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_1</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ npc.difficulty_entry_1 }}">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ npc.difficulty_entry_1 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_2</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ npc.difficulty_entry_2 }}">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ npc.difficulty_entry_2 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <small>difficulty_entry_3</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" value="{{ npc.difficulty_entry_3 }}">
          <div class="input-group-btn">
            <a ng-href="#/creature/{{ npc.difficulty_entry_3 }}"><button class="btn btn-default btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit1</small>
        <input type="text" class="form-control input-xs" value="{{ npc.KillCredit1 }}">
      </div>
      <div class="col-xs-6 text-left">
        <small>KillCredit2</small>
        <input type="text" class="form-control input-xs" value="{{ npc.KillCredit2 }}">
      </div>
      <div class="col-xs-12 text-left">
        <small>Name</small>
        <input type="text" class="form-control input-xs" value="{{ npc.name }}">
      </div>
      <div class="col-xs-6 text-left">
        <small>subname</small>
        <input type="text" class="form-control input-xs" value="{{ npc.subname }}">
      </div>
      <div class="col-xs-6 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs" value="{{ npc.IconName }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid1</small>
        <input type="text" class="form-control input-xs" value="{{ npc.modelid1 }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid2</small>
        <input type="text" class="form-control input-xs" value="{{ npc.modelid2 }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid3</small>
        <input type="text" class="form-control input-xs" value="{{ npc.modelid3 }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>modelid4</small>
        <input type="text" class="form-control input-xs" value="{{ npc.modelid4 }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>mingold</small>
        <input type="text" class="form-control input-xs" value="{{ npc.mingold }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxgold</small>
        <input type="text" class="form-control input-xs" value="{{ npc.maxgold }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>minlevel</small>
        <input type="text" class="form-control input-xs" value="{{ npc.minlevel }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>maxlevel</small>
        <input type="text" class="form-control input-xs" value="{{ npc.maxlevel }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>Health_mod</small>
        <input type="text" class="form-control input-xs" value="{{ npc.HealthModifier }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>Mana_mod</small>
        <input type="text" class="form-control input-xs" value="{{ npc.ManaModifier }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>Vehicleid</small>
        <input type="text" class="form-control input-xs" value="{{ npc.Vehicleid }}">
      </div>
      <div class="col-xs-3 text-left">
        <small>exp</small>
        <input type="text" class="form-control input-xs" value="{{ npc.exp }}">
      </div>
    </div>
  </div>
  <div class="col-xs-8">
  </div>
</div>
