<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}gameobject_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>gameobject_template</a></p>
<div class="row">
  <div class="col-xs-7">

    <h5 class="text-left">Gameobject</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.entry">
          <div class="input-group-btn">
            <a ng-href="#/gameobject/{{ new_gameobject_template.entry }}"><button class="btn btn-info btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <small>name</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.name">
      </div>
      <div class="col-xs-3">
        <small>type</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.type">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openValueModal(new_gameobject_template, 'type', 'GameObjectType')">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <small>size</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.size">
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>displayId</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.displayId">
      </div>
      <div class="col-xs-3 text-left">
        <small>faction</small>
        <div class="input-group">
          <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.faction">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openValueModal(new_gameobject_template, 'faction')">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>flags</small>
        <div class="input-group">
          <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.flags">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openFlagModal('', 'partials/gameobject/modals/flags.html', new_gameobject_template, 'flags', 11)">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>ScriptName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.ScriptName">
      </div>
      <div class="col-xs-3 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.IconName">
      </div>
      <div class="col-xs-2 text-left">
        <small>castBarCaption</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.castBarCaption">
      </div>
      <div class="col-xs-3 text-left">
        <small>unk1</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.unk1">
      </div>
      <div class="col-xs-2 text-left">
        <small>VerifiedBuild</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.VerifiedBuild">
      </div>
      <div class="col-xs-2 text-left">
        <small>AIName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.AIName">
      </div>
    </div>
    <br>

    <h5 class="text-left">GO Data</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>Data0</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data0">
      </div>
      <div class="col-xs-3">
        <small>Data1</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data1">
      </div>
      <div class="col-xs-3">
        <small>Data2</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data2">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data3</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data3">
      </div>
      <div class="col-xs-3">
        <small>Data4</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data4">
      </div>
      <div class="col-xs-3">
        <small>Data5</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data5">
      </div>
      <div class="col-xs-3">
        <small>Data6</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data6">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data7</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data7">
      </div>
      <div class="col-xs-3">
        <small>Data8</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data8">
      </div>
      <div class="col-xs-3">
        <small>Data9</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data9">
      </div>
      <div class="col-xs-3">
        <small>Data10</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data10">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data11</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data11">
      </div>
      <div class="col-xs-3">
        <small>Data12</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data12">
      </div>
      <div class="col-xs-3">
        <small>Data13</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data13">
      </div>
      <div class="col-xs-3">
        <small>Data14</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data14">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data15</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data15">
      </div>
      <div class="col-xs-3">
        <small>Data16</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data16">
      </div>
      <div class="col-xs-3">
        <small>Data17</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data17">
      </div>
      <div class="col-xs-3">
        <small>Data18</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data18">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data19</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data19">
      </div>
      <div class="col-xs-3">
        <small>Data20</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data20">
      </div>
      <div class="col-xs-3">
        <small>Data21</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data21">
      </div>
      <div class="col-xs-3">
        <small>Data22</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data22">
      </div>
      <div class="col-xs-3 text-left">
        <small>Data23</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data23">
      </div>
    </div>
  </div>
  <div class="col-xs-5">
    <h5 class="text-left">Quest Items</h5>
    <div class="row">
      <div class="col-xs-4">
        <small>questItem1</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem1">
      </div>
      <div class="col-xs-4">
        <small>questItem2</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>questItem3</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem3">
      </div>
      <div class="col-xs-4">
        <small>questItem4</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>questItems5</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem5">
      </div>
      <div class="col-xs-4">
        <small>questItems6</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItem6">
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-5">
        <button class="btn btn-primary" ng-click="openFullScriptModal(new_gameobject_template, 'gameobject_template', 'entry')">FULL SQL Script</button>
      </div>
      <div class="col-xs-5">
        <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
      </div>
    </div>
  </div>
</div>
