<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}gameobject_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>gameobject_template</a></p>
<div class="row">
  <div class="col-xs-7">

    <h5 class="text-left">Gameobject</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.entry">
          <div class="input-group-btn">
            <a ng-href="#/gameobject/{{ new_gameobject_template.entry }}"><button class="btn btn-info btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <small>name</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.name">
      </div>
      <div class="col-xs-3">
        <small>type</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.type">
      </div>
      <div class="col-xs-2">
        <small>size</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.size">
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>displayId</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.displayId">
      </div>
      <div class="col-xs-3 text-left">
        <small>faction</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.faction">
      </div>
      <div class="col-xs-3 text-left">
        <small>flags</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.flags">
      </div>
      <div class="col-xs-3 text-left">
        <small>ScriptName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.ScriptName">
      </div>
      <div class="col-xs-3 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.IconName">
      </div>
      <div class="col-xs-2 text-left">
        <small>castBarCaption</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.castBarCaption">
      </div>
      <div class="col-xs-3 text-left">
        <small>unk1</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.unk1">
      </div>
      <div class="col-xs-2 text-left">
        <small>VerifiedBuild</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.VerifiedBuild">
      </div>
      <div class="col-xs-2 text-left">
        <small>AIName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.AIName">
      </div>
    </div>
    <br>

    <h5 class="text-left">GO sounds</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>data0</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data0">
      </div>
      <div class="col-xs-3">
        <small>data1</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data1">
      </div>
      <div class="col-xs-3">
        <small>data2</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data2">
      </div>
      <div class="col-xs-3 text-left">
        <small>data3</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data3">
      </div>
      <div class="col-xs-3">
        <small>data4</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data4">
      </div>
      <div class="col-xs-3">
        <small>data5</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data5">
      </div>
      <div class="col-xs-3">
        <small>data6</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data6">
      </div>
      <div class="col-xs-3 text-left">
        <small>data7</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data7">
      </div>
      <div class="col-xs-3">
        <small>data8</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data8">
      </div>
      <div class="col-xs-3">
        <small>data9</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data9">
      </div>
      <div class="col-xs-3">
        <small>data10</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data10">
      </div>
      <div class="col-xs-3 text-left">
        <small>data11</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data11">
      </div>
      <div class="col-xs-3">
        <small>data12</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data12">
      </div>
      <div class="col-xs-3">
        <small>data13</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data13">
      </div>
      <div class="col-xs-3">
        <small>data14</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data14">
      </div>
      <div class="col-xs-3 text-left">
        <small>data15</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data15">
      </div>
      <div class="col-xs-3">
        <small>data16</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data16">
      </div>
      <div class="col-xs-3">
        <small>data17</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data17">
      </div>
      <div class="col-xs-3">
        <small>data18</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data18">
      </div>
      <div class="col-xs-3 text-left">
        <small>data19</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data19">
      </div>
      <div class="col-xs-3">
        <small>data20</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data20">
      </div>
      <div class="col-xs-3">
        <small>data21</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data21">
      </div>
      <div class="col-xs-3">
        <small>data22</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.data22">
      </div>
      <div class="col-xs-3 text-left">
        <small>data23</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.data23">
      </div>
    </div>
  </div>
  <div class="col-xs-5">
    <h5 class="text-left">Quest Items</h5>
    <div class="row">
      <div class="col-xs-4">
        <small>questItems1</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems1">
      </div>
      <div class="col-xs-4">
        <small>questItems2</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>questItems3</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems3">
      </div>
      <div class="col-xs-4">
        <small>questItems4</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>questItems5</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems5">
      </div>
      <div class="col-xs-4">
        <small>questItems6</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.questItems6">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-3 col-xs-offset-5">
    <button class="btn btn-primary" ng-click="openFullScriptModal(new_gameobject_template, 'gameobject_template', 'entry')">FULL SQL Script</button>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
</div>
<br><br><br><br>
