<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}gameobject_template"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>gameobject_template</a></p>
<div class="row">
  <div class="col-xs-7 borders">

    <h5 class="text-left">Gameobject</h5>
    <div class="row">
      <div class="col-xs-3">
        <small>Entry</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.entry">
          <div class="input-group-btn">
            <a ng-href="#/gameobject/{{ new_gameobject_template.entry }}"><button class="btn btn-info btn-xs">→</button></a>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <small>name</small>
        <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.name">
      </div>
      <div class="col-xs-3">
        <small>type</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.type">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openValueModal(new_gameobject_template, 'type', 'GameObjectType')">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <small>size</small>
        <div class="input-group">
          <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.size">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-left">
        <small>displayId</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.displayId">
      </div>
      <div class="col-xs-3 text-left">
        <small>faction</small>
        <div class="input-group">
          <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.faction">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openValueModal(new_gameobject_template, 'faction')">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>flags</small>
        <div class="input-group">
          <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.flags">
          <div class="input-group-btn">
            <button class="btn btn-info input-xs" ng-click="openFlagModal('partials/gameobject/modals/flags.html', new_gameobject_template, 'flags', 11)">...</button>
          </div>
        </div>
      </div>
      <div class="col-xs-3 text-left">
        <small>ScriptName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.ScriptName">
      </div>
      <div class="col-xs-3 text-left">
        <small>IconName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.IconName">
      </div>
      <div class="col-xs-2 text-left">
        <small>castBarCaption</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.castBarCaption">
      </div>
      <div class="col-xs-3 text-left">
        <small>unk1</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.unk1">
      </div>
      <div class="col-xs-2 text-left">
        <small>VerifiedBuild</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.VerifiedBuild">
      </div>
      <div class="col-xs-2 text-left">
        <small>AIName</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.AIName">
      </div>
    </div>
    <br>

  </div>
  <div class="col-xs-5">
    <br>
    <br>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-5">
        <button class="btn btn-primary" ng-click="openFullScriptModal(new_gameobject_template, 'gameobject_template', 'entry')">FULL SQL Script</button>
        <br>
        <br>
        <button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
      </div>
    </div>
  </div>

</div>
<div class="row borders">
  <h5 class="text-left">GO Data</h5>
  <div class="row">
    <div class="col-xs-2">
      <small>{{ constants.data0[new_gameobject_template.type] != null ? constants.data0[new_gameobject_template.type] : "Data0" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data0">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data1[new_gameobject_template.type] != null ? constants.data1[new_gameobject_template.type] : "Data1" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data1">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data2[new_gameobject_template.type] != null ? constants.data2[new_gameobject_template.type] : "Data2" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data2">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data3[new_gameobject_template.type] != null ? constants.data3[new_gameobject_template.type] : "Data3" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data3">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data4[new_gameobject_template.type] != null ? constants.data4[new_gameobject_template.type] : "Data4" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data4">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data5[new_gameobject_template.type] != null ? constants.data5[new_gameobject_template.type] : "Data5" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data5">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data6[new_gameobject_template.type] != null ? constants.data6[new_gameobject_template.type] : "Data6" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data6">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data7[new_gameobject_template.type] != null ? constants.data7[new_gameobject_template.type] : "Data7" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data7">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data8[new_gameobject_template.type] != null ? constants.data8[new_gameobject_template.type] : "Data8" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data8">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data9[new_gameobject_template.type] != null ? constants.data9[new_gameobject_template.type] : "Data9" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data9">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data10[new_gameobject_template.type] != null ? constants.data10[new_gameobject_template.type] : "Data10" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data10">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data11[new_gameobject_template.type] != null ? constants.data11[new_gameobject_template.type] : "Data11" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data11">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data12[new_gameobject_template.type] != null ? constants.data12[new_gameobject_template.type] : "Data12" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data12">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data13[new_gameobject_template.type] != null ? constants.data13[new_gameobject_template.type] : "Data13" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data13">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data14[new_gameobject_template.type] != null ? constants.data14[new_gameobject_template.type] : "Data14" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data14">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data15[new_gameobject_template.type] != null ? constants.data15[new_gameobject_template.type] : "Data15" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data15">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data16[new_gameobject_template.type] != null ? constants.data16[new_gameobject_template.type] : "Data16" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data16">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data17[new_gameobject_template.type] != null ? constants.data17[new_gameobject_template.type] : "Data17" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data17">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data18[new_gameobject_template.type] != null ? constants.data18[new_gameobject_template.type] : "Data18" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data18">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data19[new_gameobject_template.type] != null ? constants.data19[new_gameobject_template.type] : "Data19" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data19">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data20[new_gameobject_template.type] != null ? constants.data20[new_gameobject_template.type] : "Data20" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data20">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data21[new_gameobject_template.type] != null ? constants.data21[new_gameobject_template.type] : "Data21" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data21">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data22[new_gameobject_template.type] != null ? constants.data22[new_gameobject_template.type] : "Data22" }}</small>
      <input class="form-control input-xs" type="text" ng-model="new_gameobject_template.Data22">
    </div>
    <div class="col-xs-2">
      <small>{{ constants.data23[new_gameobject_template.type] != null ? constants.data23[new_gameobject_template.type] : "Data23" }}</small>
      <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data23">
    </div>
    <div ng-show="version.name == '6.x'">
      <div class="col-xs-2">
        <small>Data24</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data24">
      </div>
      <div class="col-xs-2">
        <small>Data25</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data25">
      </div>
      <div class="col-xs-2">
        <small>Data26</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data26">
      </div>
      <div class="col-xs-2">
        <small>Data27</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data27">
      </div>
      <div class="col-xs-2">
        <small>Data28</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data28">
      </div>
      <div class="col-xs-2">
        <small>Data29</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data29">
      </div>
      <div class="col-xs-2">
        <small>Data30</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data30">
      </div>
      <div class="col-xs-2">
        <small>Data31</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data31">
      </div>
      <div class="col-xs-2">
        <small>Data32</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.Data32">
      </div>
      <div class="col-xs-2">
        <small>unkInt32</small>
        <input type="text" class="form-control input-xs" ng-model="new_gameobject_template.unkInt32">
      </div>
    </div>
  </div>
</div>
<br>
<br>
