<div class="modal-header">
  <h3 class="modal-title">RequiredClasses</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 WARRIOR</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 PALADIN</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 HUNTER</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 ROGUE</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 PRIEST</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 DEATH_KNIGHT</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 SHAMAN</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 MAGE</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 WARLOCK</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 UNK</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 DRUID</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
