<div class="modal-header">
  <h3 class="modal-title">RequiredRaces</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 HUMAN</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 ORC</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 DWARF</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 NIGHTELF</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 UNDEAD_PLAYER</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 TAUREN</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 GNOME</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 TROLL</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 GOBLIN (Cataclysm)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 BLOODELF</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 DRAENEI</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[11]">
		<small>11 FEL_ORC (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[12]">
		<small>12 NAGA (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[13]">
		<small>13 BROKEN (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[14]">
		<small>14 SKELETON (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[15]">
		<small>15 VRYKUL (NOT USED)</small>
	  </label>
	</div>
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[16]">
		<small>16 TUSKARR (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[17]">
		<small>17 FOREST_TROLL (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[18]">
		<small>18 TAUNKA (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[19]">
		<small>19 NORTHREND_SKELETON (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[20]">
		<small>20 ICE_TROLL (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[21]">
		<small>21 WORGEN (NOT USED)</small>
	  </label>
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[22]">
		<small>22 GILNEAN (NOT USED)</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
