<p class="text-right doc-link">Table <a target="_blank" ng-href="http://collab.kpsn.org/pages/viewpage.action?pageId=330915"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>characters</a></p>
<br>
<div class="row">
  <div class="col-xs-6">
	<div class="row">
	  <div class="col-xs-3">
		<small>account</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.account">
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>name</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.name">
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>race</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.race">
		  <div class="input-group-btn">
			<button class="btn btn-info input-xs" ng-click="openValueModal(new_characters, 'race')">...</button>
		  </div>
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>class</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.class">
		  <div class="input-group-btn">
			<button class="btn btn-info input-xs" ng-click="openValueModal(new_characters, 'class', 'classes')">...</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="col-xs-6">
	<div class="row">
	  <div class="col-xs-3">
		<small>gender</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.gender">
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>level</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.level">
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>xp</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.xp">
		</div>
	  </div>
	  <div class="col-xs-3">
		<small>money</small>
		<div class="input-group">
		  <input class="form-control input-xs" type="text" ng-model="new_characters.money">
		</div>
	  </div>
	</div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-2 pull-right">
	<button class="btn btn-success" ng-click="openScriptTab()">UPDATE SQL Script</button>
  </div>
  <div class="col-xs-2 pull-right">
	<button class="btn btn-primary" ng-click="openFullScriptModal(new_characters, 'characters', 'guid')">FULL SQL Script</button>
  </div>
</div>
