<div class="modal-header">
  <h3 class="modal-title">Family</h3>
</div>
<div class="modal-body modal-overflow">
  <table class="table table-striped table-condensed">
    <thead>
      <th class="text-left">ID</th>
      <th class="text-left">Value</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Wolf</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Cat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Spider</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Bear</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Boar</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Crocolisk</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Carrion Bird</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Crab</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Gorilla</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Raptor</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Tallstrider</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Felhunter</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Voidwalker</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Succubus</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Doomguard</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Scorpid</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Turtle</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Imp</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Bat</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Hyena</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Bird of Prey</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Wind Serpent</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Remote Control</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Felguard</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Dragonhawk</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Ravager</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Warp Stalker</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Sporebat</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Nether Ray</td>
      </tr>
      <tr>
        <td>35</td>
        <td>Serpent</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Moth</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Chimaera</td>
      </tr>
      <tr>
        <td>39</td>
        <td>Devilsaur</td>
      </tr>
      <tr>
        <td>40</td>
        <td>Ghoul</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Silithid</td>
      </tr>
      <tr>
        <td>42</td>
        <td>Worm</td>
      </tr>
      <tr>
        <td>43</td>
        <td>Rhino</td>
      </tr>
      <tr>
        <td>44</td>
        <td>Wasp</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Core Hound</td>
      </tr>
      <tr>
        <td>46</td>
        <td>Spirit Beast</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
