<div class="modal-header">
  <h3 class="modal-title">flags_extra</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 INSTANCE_BIND</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 CIVILIAN</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 NO_PARRY</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 NO_PARRY_HASTEN</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 NO_BLOCK</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 NO_CRUSH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 NO_XP_AT_KILL</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 TRIGGER</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 NO_TAUNT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 UNK1</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 UNK2</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[11]">
		<small>11 UNK3</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[12]">
		<small>12 UNK4</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[13]">
		<small>13 UNK5</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[14]">
		<small>14 WORLDEVENT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[15]">
		<small>15 GUARD</small>
	  </label>
	</div>
	<div class="col-xs-6">
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[16]">
		<small>16 UNK6</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[17]">
		<small>17 NO_CRIT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[18]">
		<small>18 NO_SKILLGAIN</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[19]">
		<small>19 TAUNT_DIMINISH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[20]">
		<small>20 ALL_DIMINISH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[21]">
		<small>21 DUNGEON_BOSS</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
