<div class="modal-header">
  <h3 class="modal-title">Mechanic</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[0]">
        <small>CHARM</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[1]">
        <small>DISORIENTED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[2]">
        <small>DISARM</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[3]">
        <small>DISTRACT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[4]">
        <small>FEAR</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[5]">
        <small>GRIP</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[6]">
        <small>ROOT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[7]">
        <small>PACIFY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[8]">
        <small>SILENCE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[9]">
        <small>SLEEP</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[10]">
        <small>SNARE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[11]">
        <small>STUN</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[12]">
        <small>FREEZE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[13]">
        <small>KNOCKOUT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[14]">
        <small>BLEED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[15]">
        <small>BANDAGE</small>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[16]">
        <small>POLYMORPH</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[17]">
        <small>BANISH</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[18]">
        <small>SHIELD</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[19]">
        <small>SHACKLE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[20]">
        <small>MOUNT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[21]">
        <small>INFECTED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[22]">
        <small>TURN</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[23]">
        <small>HORROR</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[24]">
        <small>INVULNERABILITY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[25]">
        <small>INTERRUPT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[26]">
        <small>DAZE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[27]">
        <small>DISCOVERY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[28]">
        <small>IMMUNE_SHIELD</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[29]">
        <small>SAPPED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="mechanic[30]">
        <small>ENRAGED</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
