<div class="modal-header">
  <h3 class="modal-title">Mechanic</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>CHARM</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>DISORIENTED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>DISARM</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>DISTRACT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>FEAR</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>GRIP</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>ROOT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>PACIFY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>SILENCE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>SLEEP</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>SNARE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>STUN</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>FREEZE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>KNOCKOUT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>BLEED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>BANDAGE</small>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>POLYMORPH</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>BANISH</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>SHIELD</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>SHACKLE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>MOUNT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>INFECTED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>TURN</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>HORROR</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>INVULNERABILITY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>INTERRUPT</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>DAZE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>DISCOVERY</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[28]">
        <small>IMMUNE_SHIELD</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[29]">
        <small>SAPPED</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[30]">
        <small>ENRAGED</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
