<div class="modal-header">
  <h3 class="modal-title">NPC Flag</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 Gossip</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 Quest Giver</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 UNK1</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 UNK2</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 Trainer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 Class Trainer </small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 Profession Trainer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 Vendor</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 Vendor Ammo</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>9 Vendor Food</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>10 Vendor Poison</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>11 Vendor Reagent</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>12 Repairer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>13 Flight Master</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>14 Spirit Healer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>15 Spirit Guide</small>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>16 Innkeeper</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>17 Banker</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>18 Petitioner</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>19 Tabard Designer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>20 Battlemaster</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>21 Auctioneer</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>22 Stable Master</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>23 Guild Banker</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>24 Spellclick</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>25 PLAYER_VEHICLE</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>26 Mailbox (GUARD?)</small>
      </label>
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>27 UNK4 (OUTDOORPVP?)</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
