<div class="modal-header">
  <h3 class="modal-title">spawnMask</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 10-man-normal (maps withouth heroic mode)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 25-man-normal (or heroics pre 3.2)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 10-man-heroic</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 25-man-heroic</small>
	  </label>
	</div>
	<div class="col-xs-6">
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
