<div class="modal-header">
  <h3 class="modal-title">Type Flags</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[0]">
        <small>0 TAMEABLE</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[1]">
        <small>1 GHOST</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[2]">
        <small>2 UNK3</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[3]">
        <small>3 UNK4</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[4]">
        <small>4 UNK5</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[5]">
        <small>5 UNK6</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[6]">
        <small>6 UNK7</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[7]">
        <small>7 DEAD_INTERACT</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[8]">
        <small>8 HERBALISM</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[9]">
        <small>9 MINING</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[10]">
        <small>10 UNK11</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[11]">
        <small>11 MOUNTED_COMBAT</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[12]">
        <small>12 AID_PLAYERS</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[13]">
        <small>13 UNK14</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[14]">
        <small>14 UNK15</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[15]">
        <small>15 ENGINEERLOOT</small>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="checkbox" >
        <input type="checkbox" class="input-xs" ng-model="values[16]">
        <small>16 EXOTIC</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[17]">
        <small>17 UNK18</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[18]">
        <small>18 UNK19</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[19]">
        <small>19 UNK20</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[20]">
        <small>20 UNK21</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[21]">
        <small>21 UNK22</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[22]">
        <small>22 UNK23</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[23]">
        <small>23 SQUIRE</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[24]">
        <small>24 UNK25</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[25]">
        <small>25 UNK26</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[26]">
        <small>26 UNK27</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[27]">
        <small>27 UNK28</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[28]">
        <small>28 UNK29</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[29]">
        <small>29 UNK30</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[30]">
        <small>30 UNK31</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="input-xs" ng-model="values[31]">
        <small>31 QUEST_BOSS</small>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
