<div class="modal-header">
  <h3 class="modal-title">unit_flags</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 SERVER_CONTROLLED	</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 NON_ATTACKABLE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 DISABLE_MOVE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 PVP_ATTACKABLE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 RENAME</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 PREPARATION</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 UNK_6</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 NOT_ATTACKABLE_1</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 IMMUNE_TO_PC</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 IMMUNE_TO_NPC</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 LOOTING</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[11]">
		<small>11 PET_IN_COMBAT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[12]">
		<small>12 PVP</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[13]">
		<small>13 SILENCED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[14]">
		<small>14 UNK_14</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[15]">
		<small>15 UNK_15</small>
	  </label>
	</div>
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[16]">
		<small>16 UNK_16</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[17]">
		<small>17 PACIFIED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[18]">
		<small>18 STUNNED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[19]">
		<small>19 IN_COMBAT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[20]">
		<small>20 TAXI_FLIGHT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[21]">
		<small>21 DISARMED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[22]">
		<small>22 CONFUSED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[23]">
		<small>23 FLEEING</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[24]">
		<small>24 PLAYER_CONTROLLED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[25]">
		<small>25 NOT_SELECTABLE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[26]">
		<small>26 SKINNABLE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[27]">
		<small>27 MOUNT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[28]">
		<small>28 UNK_28</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[29]">
		<small>29 UNK_29</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[30]">
		<small>30 SHEATHE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[31]">
		<small>31 UNK_31</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
