<div class="modal-header">
  <h3 class="modal-title">unit_flags2</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-6">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 FEIGN_DEATH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 UNK1</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 IGNORE_REPUTATION</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 COMPREHEND_LANG</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 MIRROR_IMAGE</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 INSTANTLY_APPEAR_MODEL</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 FORCE_MOVEMENT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 DISARM_OFFHAND</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 UNK2</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 DISABLE_PRED_STATS</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 DISARM_RANGED</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[11]">
		<small>11 REGENERATE_POWER</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[12]">
		<small>12 RESTRICT_PARTY_INTERACTION</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[13]">
		<small>13 PREVENT_SPELL_CLICK</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[14]">
		<small>14 ALLOW_ENEMY_INTERACT</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[15]">
		<small>15 DISABLE_TURN</small>
	  </label>
	</div>
	<div class="col-xs-6">
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[16]">
		<small>16 UNK3</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[17]">
		<small>17 PLAY_DEATH_ANIM</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[18]">
		<small>18 ALLOW_CHEAT_SPELLS</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[19]">
		<small>19 TAUNT_DIMINISH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[20]">
		<small>20 ALL_DIMINISH</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[21]">
		<small>21 DUNGEON_BOSS</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
