<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}smart_scripts"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>smart_scripts</a></p>
<div class="row sai-editor-head" ng-show="selectedRow != -1">
  <br>
  <div class="col-xs-3">

    <div class="row">
      <div class="col-xs-9">
        <small>Event</small>
        <select class="form-control input-xs" ng-model="selected.event_type">
          <option value="0">UPDATE_IC</option>
          <option value="1">UPDATE_OOC</option>
          <option value="2">HEALT_PCT</option>
          <option value="3">MANA_PCT</option>
          <option value="4">AGGRO</option>
          <option value="5">KILL</option>
          <option value="6">DEATH</option>
          <option value="7">EVADE</option>
          <option value="8">SPELLHIT</option>
          <option value="9">RANGE</option>
          <option value="10">OOC_LOS</option>
          <option value="11">RESPAWN</option>
          <option value="12">TARGET_HEALTH_PCT</option>
          <option value="13">VICTIM_CASTING</option>
          <option value="14">FRIENDLY_HEALTH</option>
          <option value="15">FRIENDLY_IS_CC</option>
          <option value="16">FRIENDLY_MISSING_BUFF</option>
          <option value="17">SUMMONED_UNIT</option>
          <option value="18">TARGET_MANA_PCT</option>
          <option value="19">ACCEPTED_QUEST</option>
          <option value="20">REWARD_QUEST</option>
          <option value="21">REACHED_HOME</option>
          <option value="22">RECEIVE_EMOTE</option>
          <option value="23">HAS_AURA</option>
          <option value="24">TARGET_BUFFED</option>
          <option value="25">RESET</option>
          <option value="26">IC_LOS</option>
          <option value="27">PASSENGER_BOARDED</option>
          <option value="28">PASSENGER_REMOVED</option>
          <option value="29">CHARMED</option>
          <option value="30">CHARMED_TARGET</option>
          <option value="31">SPELLHIT_TARGET</option>
          <option value="32">DAMAGED</option>
          <option value="33">DAMAGED_TARGET</option>
          <option value="34">MOVEMENTINFORM</option>
          <option value="35">SUMMON_DESPAWNED</option>
          <option value="36">CORPSE_REMOVED</option>
          <option value="37">AI_INIT</option>
          <option value="38">DATA_SET</option>
          <option value="39">WAYPOINT_START</option>
          <option value="40">WAYPOINT_REACHED</option>
          <option value="41">TRANSPORT_ADDPLAYER</option>
          <option value="42">TRANSPORT_ADDCREATURE</option>
          <option value="43">TRANSPORT_REMOVE_PLAYER</option>
          <option value="44">TRANSPORT_RELOCATE</option>
          <option value="45">INSTANCE_PLAYER_ENTER</option>
          <option value="46">AREATRIGGER_ONTRIGGER</option>
          <option value="47">QUEST_ACCEPTED</option>
          <option value="48">QUEST_OBJ_COPLETETION</option>
          <option value="49">QUEST_COMPLETION</option>
          <option value="50">QUEST_REWARDED</option>
          <option value="51">QUEST_FAIL</option>
          <option value="52">TEXT_OVER</option>
          <option value="53">RECEIVE_HEAL</option>
          <option value="54">JUST_SUMMONED</option>
          <option value="55">WAYPOINT_PAUSED</option>
          <option value="56">WAYPOINT_RESUMED</option>
          <option value="57">WAYPOINT_STOPPED</option>
          <option value="58">WAYPOINT_ENDED</option>
          <option value="59">TIMED_EVENT_TRIGGERED</option>
          <option value="60">UPDATE</option>
          <option value="61">LINK</option>
          <option value="62">GOSSIP_SELECT</option>
          <option value="63">JUST_CREATED</option>
          <option value="64">GOSSIP_HELLO</option>
          <option value="65">FOLLOW_COMPLETED</option>
          <option value="66">DUMMY_EFFECT</option>
          <option value="67">IS_BEHIND_TARGET</option>
          <option value="68">GAME_EVENT_START</option>
          <option value="69">GAME_EVENT_END</option>
          <option value="70">GO_STATE_CHANGED</option>
          <option value="71">GO_EVENT_INFORM</option>
          <option value="72">ACTION_DONE</option>
          <option value="73">ON_SPELLCLICK</option>
          <option value="74">FRIENDLY_HEALTH_PCT</option>
          <option value="75">DISTANCE_CREATURE</option>
          <option value="76">DISTANCE_GAMEOBJECT</option>
          <option value="77">COUNTER_SET</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="selected.event_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <small>Action</small>
        <select class="form-control input-xs" ng-model="selected.action_type">
          <option value="0">NONE</option>
          <option value="1">TALK</option>
          <option value="2">SET_FACTION</option>
          <option value="3">MORPH_TO_ENTRY_OR_MODEL</option>
          <option value="4">SOUND</option>
          <option value="5">PLAY_EMOTE</option>
          <option value="6">FAIL_QUEST</option>
          <option value="7">ADD_QUEST</option>
          <option value="8">SET_REACT_STATE</option>
          <option value="9">ACTIVATE_GOBJECT</option>
          <option value="10">RANDOM_EMOTE</option>
          <option value="11">CAST</option>
          <option value="12">SUMMON_CREATURE</option>
          <option value="13">THREAT_SINGLE_PCT</option>
          <option value="14">THREAT_ALL_PCT</option>
          <option value="15">CALL_AREAEXPLOREDOREVENTHAPPENS</option>
          <option value="16">UNUSED_16</option>
          <option value="17">SET_EMOTE_STATE</option>
          <option value="18">SET_UNIT_FLAG</option>
          <option value="19">REMOVE_UNIT_FLAG</option>
          <option value="20">AUTO_ATTACK</option>
          <option value="21">ALLOW_COMBAT_MOVEMENT</option>
          <option value="22">SET_EVENT_PHASE</option>
          <option value="23">INC_EVENT_PHASE</option>
          <option value="24">EVADE</option>
          <option value="25">FLEE_FOR_ASSIST</option>
          <option value="26">CALL_GROUPEVENTHAPPENS</option>
          <option value="27">CALL_CASTEDCREATUREORGO</option>
          <option value="28">REMOVEAURASFROMSPELL</option>
          <option value="29">FOLLOW</option>
          <option value="30">RANDOM_PHASE</option>
          <option value="31">RANDOM_PHASE_RANGE</option>
          <option value="32">RESET_GOBJECT</option>
          <option value="33">CALL_KILLEDMONSTER</option>
          <option value="34">SET_INST_DATA</option>
          <option value="35">SET_INST_DATA64</option>
          <option value="36">UPDATE_TEMPLATE</option>
          <option value="37">DIE</option>
          <option value="38">SET_IN_COMBAT_WITH_ZONE</option>
          <option value="39">CALL_FOR_HELP</option>
          <option value="40">SET_SHEATH</option>
          <option value="41">FORCE_DESPAWN</option>
          <option value="42">SET_INVINCIBILITY_HP_LEVEL</option>
          <option value="43">MOUNT_TO_ENTRY_OR_MODEL</option>
          <option value="44">SET_INGAME_PHASE_MASK</option>
          <option value="45">SET_DATA</option>
          <option value="46">MOVE_FORWARD</option>
          <option value="47">SET_VISIBILITY</option>
          <option value="48">SET_ACTIVE</option>
          <option value="49">ATTACK_START</option>
          <option value="50">SUMMON_GO</option>
          <option value="51">KILL_UNIT</option>
          <option value="52">ACTIVATE_TAXI</option>
          <option value="53">WP_START</option>
          <option value="54">WP_PAUSE</option>
          <option value="55">WP_STOP</option>
          <option value="56">ADD_ITEM</option>
          <option value="57">REMOVE_ITEM</option>
          <option value="58">INSTALL_AI_TEMPLATE</option>
          <option value="59">SET_RUN</option>
          <option value="60">SET_FLY</option>
          <option value="61">SET_SWIM</option>
          <option value="62">TELEPORT</option>
          <option value="63">SET_COUNTER</option>
          <option value="64">STORE_TARGET_LIST</option>
          <option value="65">WP_RESUME</option>
          <option value="66">SET_ORIENTATION</option>
          <option value="67">CREATE_TIMED_EVENT</option>
          <option value="68">PLAYMOVIE</option>
          <option value="69">MOVE_TO_POS</option>
          <option value="70">RESPAWN_TARGET</option>
          <option value="71">EQUIP</option>
          <option value="72">CLOSE_GOSSIP</option>
          <option value="73">TRIGGER_TIMED_EVENT</option>
          <option value="74">REMOVE_TIMED_EVENT</option>
          <option value="75">ADD_AURA</option>
          <option value="76">OVERRIDE_SCRIPT_BASE_OBJECT</option>
          <option value="77">RESET_SCRIPT_BASE_OBJECT</option>
          <option value="78">CALL_SCRIPT_RESET</option>
          <option value="79">SET_RANGED_MOVEMENT</option>
          <option value="80">CALL_TIMED_ACTIONLIST</option>
          <option value="81">SET_NPC_FLAG</option>
          <option value="82">ADD_NPC_FLAG</option>
          <option value="83">REMOVE_NPC_FLAG</option>
          <option value="84">SIMPLE_TALK</option>
          <option value="85">INVOKER_CAST</option>
          <option value="86">CROSS_CAST</option>
          <option value="87">CALL_RANDOM_TIMED_ACTIONLIST</option>
          <option value="88">CALL_RANDOM_RANGE_TIMED_ACTIONLIST</option>
          <option value="89">RANDOM_MOVE</option>
          <option value="90">SET_UNIT_FIELD_BYTES_1</option>
          <option value="91">REMOVE_UNIT_FIELD_BYTES_1</option>
          <option value="92">INTERRUPT_SPELL</option>
          <option value="93">SEND_GO_CUSTOM_ANIM</option>
          <option value="94">SET_DYNAMIC_FLAG</option>
          <option value="95">ADD_DYNAMIC_FLAG</option>
          <option value="96">REMOVE_DYNAMIC_FLAG</option>
          <option value="97">JUMP_TO_POS</option>
          <option value="98">SEND_GOSSIP_MENU</option>
          <option value="99">GO_SET_LOOT_STATE</option>
          <option value="100">SEND_TARGET_TO_TARGET</option>
          <option value="101">SET_HOME_POS</option>
          <option value="102">SET_HEALTH_REGEN</option>
          <option value="103">SET_ROOT</option>
          <option value="104">SET_GO_FLAG</option>
          <option value="105">ADD_GO_FLAG</option>
          <option value="106">REMOVE_GO_FLAG</option>
          <option value="107">SUMMON_CREATURE_GROUP</option>
          <option value="108">SET_POWER</option>
          <option value="109">ADD_POWER</option>
          <option value="110">REMOVE_POWER</option>
          <option value="111">START_CLOSEST_WAYPOINT</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="selected.action_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <small>Target</small>
        <select class="form-control input-xs" ng-model="selected.target_type">
          <option value="0">NONE</option>
          <option value="1">SELF</option>
          <option value="2">VICTIM</option>
          <option value="3">HOSTILE_SECOND_AGGRO</option>
          <option value="4">HOSTILE_LAST_AGGRO</option>
          <option value="5">HOSTILE_RANDOM</option>
          <option value="6">HOSTILE_RANDOM_NOT_TOP</option>
          <option value="7">ACTION_INVOKER</option>
          <option value="8">POSITION</option>
          <option value="9">CREATURE_RANGE</option>
          <option value="10">CREATURE_GUID</option>
          <option value="11">CREATURE_DISTANCE</option>
          <option value="12">STORED</option>
          <option value="13">GAMEOBJECT_RANGE</option>
          <option value="14">GAMEOBJECT_GUID</option>
          <option value="15">GAMEOBJECT_DISTANCE</option>
          <option value="16">INVOKER_PARTY</option>
          <option value="17">PLAYER_RANGE</option>
          <option value="18">PLAYER_DISTANCE</option>
          <option value="19">CLOSEST_CREATURE</option>
          <option value="20">CLOSEST_GAMEOBJECT</option>
          <option value="21">CLOSEST_PLAYER</option>
          <option value="22">ACTION_INVOKER_VEHICLE</option>
          <option value="23">OWNER_OR_SUMMONER</option>
          <option value="24">THREAT_LIST</option>
          <option value="25">CLOSEST_ENEMY</option>
          <option value="26">CLOSEST_FRIENDLY</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="selected.target_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <small>Id</small>
        <input class="form-control input-xs" type="text" ng-model="selected.id" disabled>
      </div>
      <div class="col-xs-3">
        <small>Link to</small>
        <input class="form-control input-xs" type="text" ng-model="selected.link">
      </div>
      <div class="col-xs-3">
        <small>Phasemask</small>
        <input class="form-control input-xs" type="text" ng-model="selected.event_phase_mask">
      </div>
      <div class="col-xs-3">
        <small>Chance</small>
        <input class="form-control input-xs" type="number" ng-model="selected.event_chance">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <small>Flags</small>
        <input class="form-control input-xs" type="text" ng-model="selected.event_flags">
      </div>
      <div class="col-xs-9">
        <small>Comment</small>
        <input class="form-control input-xs" type="text" ng-model="selected.comment">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Event</p>
      <div class="col-xs-7">
        <small>{{ (saiLabels.event_type.param1[selected.event_type] && saiLabels.event_type.param1[selected.event_type] != "") ? saiLabels.event_type.param1[selected.event_type] : "param1" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.event_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.event_type.param2[selected.event_type] && saiLabels.event_type.param2[selected.event_type] != "") ? saiLabels.event_type.param2[selected.event_type] : "param2" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.event_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.event_type.param3[selected.event_type] && saiLabels.event_type.param3[selected.event_type] != "") ? saiLabels.event_type.param3[selected.event_type] : "param3" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.event_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.event_type.param4[selected.event_type] && saiLabels.event_type.param4[selected.event_type] != "") ? saiLabels.event_type.param4[selected.event_type] : "param4" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.event_param4">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Action</p>
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param1[selected.action_type] && saiLabels.action_type.param1[selected.action_type] != "") ? saiLabels.action_type.param1[selected.action_type] : "param1" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param2[selected.action_type] && saiLabels.action_type.param2[selected.action_type] != "") ? saiLabels.action_type.param2[selected.action_type] : "param2" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param3[selected.action_type] && saiLabels.action_type.param3[selected.action_type] != "") ? saiLabels.action_type.param3[selected.action_type] : "param3" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param4[selected.action_type] && saiLabels.action_type.param4[selected.action_type] != "") ? saiLabels.action_type.param4[selected.action_type] : "param4" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param5[selected.action_type] && saiLabels.action_type.param5[selected.action_type] != "") ? saiLabels.action_type.param5[selected.action_type] : "param5" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param5">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.action_type.param6[selected.action_type] && saiLabels.action_type.param6[selected.action_type] != "") ? saiLabels.action_type.param6[selected.action_type] : "param6" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.action_param6">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Target</p>
      <div class="col-xs-7">
        <small>{{ (saiLabels.target_type.param1[selected.target_type] && saiLabels.target_type.param1[selected.target_type] != "") ? saiLabels.target_type.param1[selected.target_type] : "param1" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.target_type.param2[selected.target_type] && saiLabels.target_type.param2[selected.target_type] != "") ? saiLabels.target_type.param2[selected.target_type] : "param2" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>{{ (saiLabels.target_type.param3[selected.target_type] && saiLabels.target_type.param3[selected.target_type] != "") ? saiLabels.target_type.param3[selected.target_type] : "param3" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>Target X</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_x">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>Target Y</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_y">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>Target Z</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_z">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <small>Target O</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="selected.target_o">
      </div>
    </div>
  </div>


</div>
<br>
<div class="row">
  <div class="col-xs-4">
    <button class="btn btn-danger" ng-click="deleteSelectedRowFrom(new_smart_scripts)" ng-disabled="selectedRow == -1"><i class="glyphicon glyphicon-remove"></i> Delete selected row</button>
    <button class="btn btn-success" ng-click="addNewRow(new_smart_scripts)"><i class="glyphicon glyphicon-plus"></i> Add new row</button>
  </div>
  <div class="col-xs-2 pull-right">
    <button class="btn btn-primary pull-right" ng-click="openScriptTab()">FULL SmartAI Script</button>
  </div>
</div>
<br>
<div style="overflow-y: scroll !important;">
  <table class="table table-striped table-condensed">
    <thead>
      <th class="text-center"></th>
      <th class="text-center">id</th>
      <th class="text-center">link</th>
      <th class="text-center">event_type</th>
      <th class="text-center" ng-show="!showBasicInformations">event_phase_mask</th>
      <th class="text-center" ng-show="!showBasicInformations">event_chance</th>
      <th class="text-center" ng-show="!showBasicInformations">event_flags</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param4</th>
      <th class="text-center">action_type</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param4</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param5</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param6</th>
      <th class="text-center">target_type</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">target_x</th>
      <th class="text-center" ng-show="!showBasicInformations">target_y</th>
      <th class="text-center" ng-show="!showBasicInformations">target_z</th>
      <th class="text-center" ng-show="!showBasicInformations">target_o</th>
      <th class="text-center">comment</th>
    </thead>
    <tr ng-repeat="row in new_smart_scripts track by $index" ng-class="{'tr-selected': $index == selectedRow}" id="{{ $index }}">
      <td><i class="glyphicon glyphicon-edit pointer" ng-click="selectRow(new_smart_scripts, $index)"></i></td>
      <td>{{ row.id }}</td>
      <td>{{ row.link }}</td>
      <td>{{ row.event_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_phase_mask }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_chance }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_flags }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param4 }}</td>
      <td>{{ row.action_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param4 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param5 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param6 }}</td>
      <td>{{ row.target_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_x }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_y }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_z }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_o }}</td>
      <td>{{ row.comment }}</td>
    </tr>
  </table>
</div>
