<p class="text-right doc-link">Table <a target="_blank" ng-href="{{ wikiLink }}smart_scripts"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>smart_scripts</a></p>
<div class="row">
  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <form class="form-inline">
        <div class="form-group">
          <small>Entry or GUID</small>
          <input class="form-control input-xs" type="text" ng-value="entryOrGuid">
        </div>
        <div class="form-group">
          <small>Source Type</small>
          <select class="form-control input-xs">
            <option value="0" ng-selected="sourceType == 0">CREATURE</option>
            <option value="1" ng-selected="sourceType == 1">GAMEOBJECT</option>
            <option value="2" ng-selected="sourceType == 2">AREATRIGGER</option>
            <option value="9" ng-selected="sourceType == 9">TIMED_ACTIONLIST</option>
          </select>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="row sai-editor-head">
  <br>
  <div class="col-xs-3">

    <div class="row">
      <div class="col-xs-9">
        <small>Event</small>
        <select class="form-control input-xs" ng-model="new_smart_scripts[0].event_type">
          <option value="0">UPDATE_IC</option>
          <option value="1">UPDATE_OOC</option>
          <option value="2">HEALT_PCT</option>
          <option value="3">MANA_PCT</option>
          <option value="4">AGGRO</option>
          <option value="5">KILL</option>
          <option value="6">DEATH</option>
          <option value="7">EVADE</option>
          <option value="8">SPELLHIT</option>
          <option value="9">RANGE</option>
          <option value="10">OOC_LOS</option>
          <option value="11">RESPAWN</option>
          <option value="12">TARGET_HEALTH_PCT</option>
          <option value="13">VICTIM_CASTING</option>
          <option value="14">FRIENDLY_HEALTH</option>
          <option value="15">FRIENDLY_IS_CC</option>
          <option value="16">FRIENDLY_MISSING_BUFF</option>
          <option value="17">SUMMONED_UNIT</option>
          <option value="18">TARGET_MANA_PCT</option>
          <option value="19">ACCEPTED_QUEST</option>
          <option value="20">REWARD_QUEST</option>
          <option value="21">REACHED_HOME</option>
          <option value="22">RECEIVE_EMOTE</option>
          <option value="23">HAS_AURA</option>
          <option value="24">TARGET_BUFFED</option>
          <option value="25">RESET</option>
          <option value="26">IC_LOS</option>
          <option value="27">PASSENGER_BOARDED</option>
          <option value="28">PASSENGER_REMOVED</option>
          <option value="29">CHARMED</option>
          <option value="30">CHARMED_TARGET</option>
          <option value="31">SPELLHIT_TARGET</option>
          <option value="32">DAMAGED</option>
          <option value="33">DAMAGED_TARGET</option>
          <option value="34">MOVEMENTINFORM</option>
          <option value="35">SUMMON_DESPAWNED</option>
          <option value="36">CORPSE_REMOVED</option>
          <option value="37">AI_INIT</option>
          <option value="38">DATA_SET</option>
          <option value="39">WAYPOINT_START</option>
          <option value="40">WAYPOINT_REACHED</option>
          <option value="41">TRANSPORT_ADDPLAYER</option>
          <option value="42">TRANSPORT_ADDCREATURE</option>
          <option value="43">TRANSPORT_REMOVE_PLAYER</option>
          <option value="44">TRANSPORT_RELOCATE</option>
          <option value="45">INSTANCE_PLAYER_ENTER</option>
          <option value="46">AREATRIGGER_ONTRIGGER</option>
          <option value="47">QUEST_ACCEPTED</option>
          <option value="48">QUEST_OBJ_COPLETETION</option>
          <option value="49">QUEST_COMPLETION</option>
          <option value="50">QUEST_REWARDED</option>
          <option value="51">QUEST_FAIL</option>
          <option value="52">TEXT_OVER</option>
          <option value="53">RECEIVE_HEAL</option>
          <option value="54">JUST_SUMMONED</option>
          <option value="55">WAYPOINT_PAUSED</option>
          <option value="56">WAYPOINT_RESUMED</option>
          <option value="57">WAYPOINT_STOPPED</option>
          <option value="58">WAYPOINT_ENDED</option>
          <option value="59">TIMED_EVENT_TRIGGERED</option>
          <option value="60">UPDATE</option>
          <option value="61">LINK</option>
          <option value="62">GOSSIP_SELECT</option>
          <option value="63">JUST_CREATED</option>
          <option value="64">GOSSIP_HELLO</option>
          <option value="65">FOLLOW_COMPLETED</option>
          <option value="66">DUMMY_EFFECT</option>
          <option value="67">IS_BEHIND_TARGET</option>
          <option value="68">GAME_EVENT_START</option>
          <option value="69">GAME_EVENT_END</option>
          <option value="70">GO_STATE_CHANGED</option>
          <option value="71">GO_EVENT_INFORM</option>
          <option value="72">ACTION_DONE</option>
          <option value="73">ON_SPELLCLICK</option>
          <option value="74">FRIENDLY_HEALTH_PCT</option>
          <option value="75">DISTANCE_CREATURE</option>
          <option value="76">DISTANCE_GAMEOBJECT</option>
          <option value="77">COUNTER_SET</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].event_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <small>Action</small>
        <select class="form-control input-xs" ng-model="new_smart_scripts[0].action_type">
          <option value="0">NONE</option>
          <option value="1">TALK</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].action_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <small>Target</small>
        <select class="form-control input-xs" ng-model="new_smart_scripts[0].target_type">
          <option value="0">NONE</option>
          <option value="1">SELF</option>
        </select>
      </div>
      <div class="col-xs-3">
        <br>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].target_type">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <small>Id</small>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].id" disabled>
      </div>
      <div class="col-xs-3">
        <small>Link to</small>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].link">
      </div>
      <div class="col-xs-3">
        <small>Phasemask</small>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].event_phase_mask">
      </div>
      <div class="col-xs-3">
        <small>Chance</small>
        <input class="form-control input-xs" type="number" ng-model="new_smart_scripts[0].event_chance">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <small>Flags</small>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].event_flags">
      </div>
      <div class="col-xs-9">
        <small>Comment</small>
        <input class="form-control input-xs" type="text" ng-model="new_smart_scripts[0].comment">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Event</p>
      <div class="col-xs-4">
        <small>param1</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].event_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>{{ event_type.param2[new_smart_scripts[0].event_type] != "" ? event_type.param2[new_smart_scripts[0].event_type] : "param2" }}</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].event_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param3</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].event_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param4</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].event_param4">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Action</p>
      <div class="col-xs-4">
        <small>param1</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param2</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param3</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param4</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param4">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param5</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param5">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param6</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].action_param6">
      </div>
    </div>
  </div>

  <div class="col-xs-3 text-left input-margin">
    <div class="row">
      <p class="h5 text-center">Target</p>
      <div class="col-xs-4">
        <small>param1</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_param1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param2</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_param2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>param3</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_param3">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>Target X</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_x">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>Target Y</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_y">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>Target Z</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_z">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <small>Target O</small>
      </div>
      <div class="col-xs-4">
        <input class="form-control input-xs" type="text" ng-value="new_smart_scripts[0].target_o">
      </div>
    </div>
  </div>


</div>
<br>
<div class="row">
  <div class="col-xs-4">
    <button class="btn btn-danger" ng-click="deleteSelectedRowFrom(new_smart_scripts)"><i class="glyphicon glyphicon-remove"></i> Delete selected row</button>
    <button class="btn btn-success" ng-click="addNewRow(new_smart_scripts)"><i class="glyphicon glyphicon-plus"></i> Add new row</button>
  </div>
  <div class="col-xs-2 pull-right">
    <button class="btn btn-primary pull-right" ng-click="alert('TODO')">FULL SmartAI Script</button>
  </div>
</div>
<br>
<div style="overflow-y: scroll !important;">
  <table class="table table-striped table-condensed">
    <thead>
      <th class="text-center"></th>
      <th class="text-center">id</th>
      <th class="text-center">link</th>
      <th class="text-center">event_type</th>
      <th class="text-center" ng-show="!showBasicInformations">event_phase_mask</th>
      <th class="text-center" ng-show="!showBasicInformations">event_chance</th>
      <th class="text-center" ng-show="!showBasicInformations">event_flags</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">event_param4</th>
      <th class="text-center">action_type</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param4</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param5</th>
      <th class="text-center" ng-show="!showBasicInformations">action_param6</th>
      <th class="text-center">target_type</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param1</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param2</th>
      <th class="text-center" ng-show="!showBasicInformations">target_param3</th>
      <th class="text-center" ng-show="!showBasicInformations">target_x</th>
      <th class="text-center" ng-show="!showBasicInformations">target_y</th>
      <th class="text-center" ng-show="!showBasicInformations">target_z</th>
      <th class="text-center" ng-show="!showBasicInformations">target_o</th>
      <th class="text-center">comment</th>
    </thead>
    <tr ng-repeat="row in new_smart_scripts track by $index" ng-class="{'tr-selected': $index == selectedRow}" id="{{ $index }}">
      <td><i class="glyphicon glyphicon-edit pointer" ng-click="selectRow(new_smart_scripts, $index)"></i></td>
      <td>{{ row.id }}</td>
      <td>{{ row.link }}</td>
      <td>{{ row.event_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_phase_mask }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_chance }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_flags }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.event_param4 }}</td>
      <td>{{ row.action_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param4 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param5 }}</td>
      <td ng-show="!showBasicInformations">{{ row.action_param6 }}</td>
      <td>{{ row.target_type }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param1 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param2 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_param3 }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_x }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_y }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_z }}</td>
      <td ng-show="!showBasicInformations">{{ row.target_o }}</td>
      <td>{{ row.comment }}</td>
    </tr>
  </table>
</div>
