<div class="modal-header">
  <h3 class="modal-title">Flags</h3>
</div>
<div class="modal-body">
  <div class="row">
	<div class="col-xs-12">
	  <label class="checkbox" >
		<input type="checkbox" class="input-xs" ng-model="values[0]">
		<small>0 IN_USE (Disables interaction while being animated)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[1]">
		<small>1 LOCKED (Requires a key, spell, or event to be opened)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[2]">
		<small>2 INTERACT_COND (Untargetable, cannot interact)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[3]">
		<small>3 TRANSPORT (Object can transport - boat, elevator, car)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[4]">
		<small>4 NOT_SELECTABLE (Not even in GM-mode)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[5]">
		<small>5 NODESPAWN (Never despawn, typ for doors, they just change state)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[6]">
		<small>6 TRIGGERED (Typ, summoned objects. Triggered by spell or other events)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[7]">
		<small>7 UNK1</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[8]">
		<small>8 UNK2</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[9]">
		<small>9 DAMAGED (Has been siege damaged)</small>
	  </label>
	  <label class="checkbox">
		<input type="checkbox" class="input-xs" ng-model="values[10]">
		<small>10 DESTROYED (Has been destroyed)</small>
	  </label>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modalOk()">OK</button>
  <button class="btn btn-danger" ng-click="modalCancel()">Cancel</button>
</div>
